@import "../../mixins/colors" ;

.container {
  display: flex;
  flex-wrap: wrap;
  .icon {
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      &.all {
        width: 100px;
      }
      padding: 5px;
      margin: 5px;
      border: 2px solid;
      @include typeColor(border-color);
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
    &-img {
      width: 30px;
    }
    &-text {
      font-weight: bold;
    }
  }
}
